<div class="container">
    <hr class="my-2">
    <form (submit)="planSearch()">
        <div class="row">
            <div class="col">
                <label>Get all Active Users With Specified Plan: (Bronze, Silver, Gold, Platinum)</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" [(ngModel)]="planName" name="planName" placeholder="Enter Plan">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-dark">Search</button>
            </div>
        </div>
    </form>
    <hr class="my-2">
  </div>

  <div class='container'>
    <ul class="list-group row">
        <li class="list-group-item col-xs-6" *ngFor="let plan of plans">
            <div class="col-xs-6">
                <p class="inner">Customer ID: {{plan.customerID}}</p>
                <p class="inner">Customer Name: {{plan.firstName}} {{plan.lastName}}</p>
                <p class="inner">Contract Number: {{plan.contractNumber}}</p>
                <p class="inner">Contract Start Date: {{plan.startDate}} | Contract End Date: {{plan.endDate}}</p>
            </div>
        </li>
   </ul>
</div>